#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: fit-content;
}

.login-container {
    display: flex;
    flex-direction: column;
    height: min-content;
    gap:24px;
    flex-shrink: 0;
    border-radius: var(--radius-xxl);
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-color: var(--color-surface-default);
    max-width: calc(40*16px);
    width: 100%;
    min-width: min-content;
}

.login-container > :first-child {
    margin-top: var(--spacing-10);
}
.login-container > :last-child {
    margin-bottom: var(--spacing-10);
}


.icon-container {
    width: 40px;
    height: 40px;
    color: var(--color-brand);
}

.login-body {
    display: flex;
    flex-direction: column;
    width: 280px;
    align-items: center;
    gap: var(--spacing-8)
}

.login-button-wrapper {
    margin: 0 auto;
}

.login-button-wrapper > .btn {
    text-transform: uppercase;
}

.login-footer {
    display: flex;
    flex-direction: row;
}

.feedback-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feedback-wrapper > p {

    color: var(--color-text-primary)
}