@import 'tokens/color-palette.css';
@import 'tokens/font-family.css';
@import 'tokens/scales.css';
@import 'tokens/semantic.css';

body {
    font-family: var(--font-family-base) sans-serif;
    background-color: var(--color-bg-primary);
}