.swapTheme {
    background-color:transparent;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    border-style:hidden;
    cursor:pointer;
    color: var(--color-button-primary-bg);
}

.swapTheme:hover {
    color:var(--color-button-primary-hover);
}

.swapTheme:active {
    color:var(--color-button-primary-active);
}

