/* button.css */


:root {
    --color-text-button-default-primary: var(--color-neutral-100);
    --color-text-button-hover-primary: var(--color-neutral-200);
}


/* Base styles */
.btn {
    font-family: var(--font-family-base), serif;
    font-size: var(--font-size-lg);
    line-height: var(--line-height-normal);
    border-radius: var(--radius-md);
    padding: var(--spacing-2) var(--spacing-6);
    border-width: var(--radius-sm);
    border-style: hidden;
    cursor: pointer;
    font-weight: var(--font-weight-regular);
    text-wrap: nowrap;
}

/* =====================
   PRIMARY BUTTON
===================== */
.btn-primary {
    background: var(--color-button-primary-bg);
    color: var(--color-text-button-default-primary);
}

.btn-primary:hover {
    background: var(--color-button-primary-hover);
    border-color: var(--color-button-primary-hover);
    color: var(--color-text-button-hover-primary);
}

.btn-primary:active {
    background: var(--color-button-primary-active);
    border-color: var(--color-button-primary-active);
    transform: scale(0.98);
    font-weight: var(--font-weight-bold);
}

.btn-primary.btn-disabled {
    background: var(--color-state-inactive);
    color: var(--color-text-disabled);
    border-color: transparent;
    cursor: not-allowed;
}

/* =====================
   LINK BUTTON
===================== */
.btn-link {
    background: none;
    color: var(--color-brand);
    border:none;
    font-size: var(--font-size-sm);
    font-style: normal;
    font-weight: var(--font-weight-bold);
}

.btn-link:hover {
    color: var(--color-brand-hover);
    text-decoration: underline;
    text-underline-offset: var(--spacing-1);
}
.btn-link:active {
    color: var(--color-brand-active);
    transform: scale(0.98);
}

.btn-link:disabled {
    color: var(--color-brand-subtle);
    cursor: not-allowed;
    text-decoration: none;
    opacity: 0.6;
}

/* =====================
   SECONDARY BUTTON
===================== */
.btn-secondary {
    background: var(--color-button-secondary-bg);
    color: var(--color-button-secondary-text);
    border-color: var(--color-border-default);
}

.btn-secondary:hover {
    background: var(--color-button-secondary-hover);
}

.btn-secondary:active {
    background: var(--color-button-secondary-active);
}

.btn-secondary.btn-disabled {
    background: var(--color-button-secondary-bg);
    color: var(--color-text-disabled);
    border-color: var(--color-border-default);
    cursor: not-allowed;
}

/* =====================
   OUTLINE BUTTON
===================== */
.btn-outline {
    background: transparent;
    color: var(--color-button-outline-text);
    border-color: var(--color-button-outline-border);
}

.btn-outline:hover {
    background: var(--color-button-outline-hover);
}


.btn-outline.btn-disabled {
    color: var(--color-text-disabled);
    border-color: var(--color-border-subtle);
    cursor: not-allowed;
}
